<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>オクタマ・トリ・カルタ</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>


<main id="app">
    <div v-show="mode=='main'">
        <iframe id="video" class="w-full" src="https://www.youtube.com/embed/9eoCId96A94" allowfullscreen></iframe>

        <div class="container mx-auto p-4">

            <h1 class="text-2xl font-bold mb-4">オクタマ・トリ・カルタ</h1>
            <h2 class="text-xl font-bold mb-2">ゲームで遊ぶ</h2>
            <p class="text-sm mb-4">遊びたいエリアを選択してください.</p>
            <div class="grid grid-cols-2 gap-4 my-4">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    <a href='https://code-for-okutama.github.io/okutama-tori-karuta/?type=kmtr'>雲取山</a>
                </button>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    <a href='https://code-for-okutama.github.io/okutama-tori-karuta/?type=tkns'>鷹ノ巣山</a>
                </button>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    <a href='https://code-for-okutama.github.io/okutama-tori-karuta/?type=ymfr'>山のふるさと村</a>
                </button>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    <a href='https://code-for-okutama.github.io/okutama-tori-karuta/?type=nppr'>日原</a>
                </button>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    <a href='https://code-for-okutama.github.io/okutama-tori-karuta/?type=srmr'>白丸</a>
                </button>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    <a href='https://code-for-okutama.github.io/okutama-tori-karuta/?type=hkwa'>氷川</a>
                </button>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    <a href='https://code-for-okutama.github.io/okutama-tori-karuta/?type=ogch'>小河内神社</a>
                </button>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    <a href='https://code-for-okutama.github.io/okutama-tori-karuta/?type=hnhr'>檜原都民の森</a>
                </button>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    <a href='https://code-for-okutama.github.io/okutama-tori-karuta/?type=mtke'>御岳山</a>
                </button>
            </div>

            <h2 class="text-xl font-bold mb-2">SNS</h2>
            <p class="text-sm mb-4">イベントの情報はこちら!</p>
            <div class="flex items-center">
                <a href="https://twitter.com/torikaruta/" target="_blank" rel="nofollow"
                   class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mr-4">
                    <i class="fab fa-twitter mr-2"></i> Twitter
                </a>
                <a href="https://www.instagram.com/okutamatorikaruta/"
                   class="bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded-full">
                    <i class="fab fa-instagram mr-2"></i> Instagram
                </a>
            </div>
            <h2 class="text-xl font-bold mb-2">DEV</h2>
            <button v-on:click="devMode()">
                [Dev]Bird List
            </button>
        </div>
    </div>
    <div v-show="mode=='dictionary'">
        <div class="grid grid-cols-2 gap-4">
            <div v-on:click="deselectAll()"
                 class="m-1 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-2 rounded">
                <span class="ml-2 text-white">全選択解除</span>
            </div>
            <div v-on:click="stopSe()" class="m-1 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-2 rounded">
                <span class="ml-2 text-white">音声停止</span>
            </div>
        </div>

        <h2 class="text-x font-bold p-2">- お気に入り・リスト- </h2>
        <p class="text-sm p-4" v-show="favoriteBirds.length == 0">下の<b>「トリ・リスト」</b>から聞きたい鳴き声の鳥にチェックを入れてください。<b>「お気に入り・リスト」</b>で選択した鳥をタッチすると鳴き声が再生されます。
        </p>
        <div v-for="(item, index) in favoriteBirds"
             class="my-3 bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded"
             v-on:click="item.pick()">
            <span class="ml-2 text-gray-700">🔈 {{item.name}}</span>
        </div>

        <h2 class="text-x font-bold p-2">- トリ・リスト -</h2>
        <div class="grid grid-cols-2 gap-4">
            <div v-for="(item, index) in birds"
                 class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-2 rounded">
                <input v-on:click="item.markFavorite()" 　v-model="item.favorite" id="checkbox" type="checkbox"
                       class="form-checkbox h-5 w-5 text-blue-600"/>
                <span class="ml-2 text-white">{{item.name}}</span>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"
        integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="Common.js"></script>
<script src="Bird.js"></script>
<script src="app.js"></script>

<script>
    window.addEventListener('load', resizeIframe); // ページ読み込み時に実行
    window.addEventListener('resize', resizeIframe); // 画面サイズ変更時に実行

    function resizeIframe() {
        const iFrame = document.querySelector('#video'); // <iFrame>要素を取得
        iFrame.height = iFrame.clientWidth * (9 / 16);
    }
</script>

</body>
</html>
